<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>You are in help</h1>
        <h2>The received text is {{ helpText }}</h2>
    </div>

    {{>footer}}
</body>

</html>